$pie-color: #fff !default;
$pie-color-active: #e74c3c !default;
$pie-color-hover: #c0392b !default;
$pie-size: 25em !default;
$pie-center-size: 40% !default;
$pie-border-width: 1px !default;
$pie-items: 6 !default;  // > 3

$pie-offset: 90 !default;
// left center: 0
// top center: 90 - (360 / $pie-items) / 2
// clockwise: 90

@mixin pie-sector($pie-items: $pie-items, $pie-offset: $pie-offset) {
	$pie-angle: 360 / $pie-items;

	@for $i from 1 through $pie-items {
		&:nth-child(#{$i}) {
			transform: rotate(($i - 1deg) * $pie-angle + $pie-offset) skew(90deg - $pie-angle);
		}
	}

	> * {
		transform: skew(-90deg + $pie-angle) rotate(-90deg + $pie-angle / 2) scale(1);
	}

	// Hide wrong amount of items
	&:nth-child(n + #{$pie-items + 1}) {
		display: none;
	}
}

.pie {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: $pie-size;
	background-color: $pie-color;
	border-radius: 50%;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	list-style: none;

	// Ratio
	&::before {
		content: '';
		display: block;
		padding-bottom: 100%;
	}

	// Center
	@if $pie-center-size > 0 {
		&::after {
			content: '';
			transform: translate(-50%, -50%);
			position: absolute;
			top: 50%;
			left: 50%;
			width: $pie-center-size;
			height: $pie-center-size;
			background: inherit;
			border-radius: 50%;
		}
	}

	li {
		@include pie-sector();
		overflow: hidden;
		transform-origin: 100% 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 50%;
		border: $pie-border-width solid $pie-color;
		font-size: 1.5em;

		&.active ~ li {
			a {
				background-color: inherit;
			}
		}

		&.active ~ li:hover,
		&:hover {
			a {
				background-color: $pie-color-hover;
			}
		}
	}

	a {
		transition: all 0.3s ease-out;
		position: absolute;
		padding-top: 20%;
		width: 200%;
		height: 200%;
		background-color: $pie-color-active;
		border-radius: 50%;
		color: inherit;
		text-align: center;
		text-decoration: none;
	}
}
